* {
  box-sizing: border-box;
}

body {
  /* background-color: linear-gradient(30deg,#FFCB2E,#0036E5); */
  margin: 100vw;
  background: linear-gradient(30deg,#FFCB2E,#0036E5);
}

.game-announce {
  display: none;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
}

.chance {
  display: none;
  flex: row;
  width: 500px;
}

.chance p {
  flex: 1 50%;
}
.chance button {
  flex: 1 25%;
}

.chance button:first-child {
  margin-right: 1rem;
}

ul {
  list-style-type: none;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.player-menu {
  display: none;
}

.game-board-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.game-board {
  order: 2;
}

.game-board button {
  border: none;
  border-radius: 10px;
}

.game-board-players {
  width: 500px;
  order: 3;
}

.game-alert {
  order: 1;
  align-self: center;
  margin-bottom: 3rem;
  font-size: 2rem;
}

.game-board-players {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
}

.player {
  width: 200px;
  text-align: center;
  font-size: 2rem;
}

.player ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.player li {
  font-size: 2.5rem;
}

.game-tile {
  text-align: center;
  padding: 0;
  width: 100px;
  height: 100px;
  font-size: 4rem;
}

.player ul {
  padding-inline-start: 0;
}

.player p {
  text-decoration: underline;
}

.player1 {
  color: #A4160C;
}

.player2 {
  color: #16537E;
}

.game-board-layout {
  display: none;
}

.overlay {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: 99;
  border-radius: 5px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

