/* header {
  display: none;
} */

ul {
  list-style-type: none;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.player-menu {
  display: none;
}

.game-board-layout {
  display: flex;
  flex-direction: column;
}

.game-board {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-board-players {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
}

.player {
  width: 200px;
  text-align: center;
  font-size: 2rem;
}

.player ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.player li {
  font-size: 2.5rem;
}

.col1 div,
.col2 div,
.col3 div {
  padding: 3rem;
}

.col1,
.col2,
.col3 {
text-align: center;
font-size: 3rem;
}
.col1 div,
.col2 div {
  border-right: 5px solid black;
}

.col1 div:nth-of-type(1n+2),
.col2 div:nth-of-type(1n+2),
.col3 div:nth-of-type(1n+2) {
  border-top: 5px solid black;
}

.col1 div:hover,
.col2 div:hover,
.col3 div:hover {
  cursor: pointer;
}

.player ul {
  padding-inline-start: 0;
}

.player p {
  text-decoration: underline;
}

.player1 {
  color: #A4160C;
}

.player2 {
  color: #16537E;
}

.game-board-layout {
  display: none;
}

